@media (max-width:1450px){
    .programs,.clips{
        display: none;
    }
}
@media (max-width:1250px){
    .resume{
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media (max-width: 990px){
    .resume{
        padding-top: 0;
        padding-bottom: 0;
    }
    .resume__content{
        padding-top: 45px;
        flex-direction: column;
    }
    .title_media {
        h2 {
            color: white;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 5px;
            width: 130px;
            margin: 42px auto;
            font-weight: 700;
        }
    
        hr {
            margin: 0px auto;
            width: 80%;
        }    
    }    

    .left-content {
        width: 100%;
    
        &__img {
            width: 70%;
            margin: auto;
        }
    
        p {
            margin: 30px auto;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 500px;
        }
    
        .contacts {
            margin: 40px auto;
            max-width: 500px;
            padding-left: 20px;
            padding-right: 20px;
    
            hr {
                max-width: 80%;
            }
        }
    
        .skills {
            max-width: 500px;
            margin: 30px auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .right-content{
        h1{
            font-size: 36px;
        }
        .works{
            margin-left: 100px;
        }
    }
    .language{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        margin-top: 10px;
        margin-right: 10px;
        color: lightgrey;
        .ru{
            margin-right: 10px;
        }
    
        .eng{
            margin-left: 10px;
        }
    
        span:hover,.active{
            cursor: pointer;
            transition: .5s;
            border-bottom: 1px solid white;
            color: white;
        }
    }
}

@media (max-width:460px){
    .right-content{
        h1{
            font-size: 28px;
        }
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 16px;
        }

        
    }
    .right-content{
        background: rgb(245, 241, 241) url("../images/back.jpg");
        background-repeat:no-repeat;
        background-position: left top;
        background-size: 60px;
        width: 100%;
        
        h1{
            font-size: 28px;
            margin-left: 80px;
        }
    
        h3, h4{
            margin-left: 80px;
            font-size: 20px;
        }

        .title_width{
            h2,hr{
                margin-left: 35px;
            }
            h2{
                margin-top: 145px;
            }
          
        }
    
        .education{
            width: 72%;
            margin-left: 65px;
            &__item{
                &::before{
                    left: -25px;
                }
            }
        }
        
        .works{
            width: 72%;
            margin-top: 25px;
            margin-left: 60px;
            &__item{
                margin-bottom: 20px;
                list-style-type: none;
                position: relative;
                &::before{
                    content:"";
                    left: -25px;
                }
            }
        }
    }
}   


