@import "font";
@import "title";
@import "left-content";
@import "right-content";
@import "programs";
@import "clips";
@import "media";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}

body{
    background:linear-gradient(45deg, rgb(39, 45, 44) 9%, rgb(105, 105, 105));
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.resume{
    position: relative;
    background: url("../images/pensil.png");
    background-repeat: no-repeat;
    background-position: 65px 280px; 
    background-size: 510px;
    padding-top: 102px;
    padding-bottom: 102px;
    &__content{
        position: relative;
        display: flex;
        background: linear-gradient(135deg, rgb(39, 45, 44), rgb(105, 105, 105));
        box-shadow: 0 20px 32px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

